body {
  background-color: #3d155c;
  background-image: url('/images/SpookyBackground.png');
  background-size: cover;
  font-family: 'Press Start 2P';
  font-size: 15px;
  text-align: center;
  line-height: 2;
  color: #eabbff;
}

h1 {
  font-size: 25px;
}

footer {
  position: fixed;
  bottom: 0px;
  margin-top: 20px;
  margin-left: auto;
  font-size: 10px;
  color: #eabbff;
  
}

.introduction {
  text-align: left;
  font-size: 13px;
  background-color: #4c3454;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  color: #eabbff;
  border-radius: 50px;
  margin-top: 20px;
}

.person {
  display: flex;
}

img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border: 5px solid #4c3454;
  border-radius: 50px;
}

.container {
  text-align: center;
  margin-left: 41%;
  margin-top: 12%;
  padding: 20px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;

}

.title {
  font-size: 20px;
  margin-bottom: 3%;
}

.button {
  font-family: 'Press Start 2P';
  margin: 10px;
  padding: 10px;
  background-color: #3d155c;
  color: rgb(247, 243, 233);
  /* border-color: aqua;
  border: 2px; */
}

#start{
    font-family: 'Press Start 2P';
    margin: 10px;
    padding: 10px;
    background-color: #3d155c;
    color: rgb(247, 243, 233);
}

.button:hover {
  background-color: rgb(247, 243, 233);
  color:#3d155c;
  transition: 2s;
}

section {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 150px;
  background-color: #3d155c;
  /* border: aqua;
  border-width: 2px; */
}

.animate {
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: ease-in;
}

animate.glow {
  animation-name: animate-glow;
  animation-timing-function: ease;
}

@keyframes animate-glow {
  0% {
    opacity: 0;
    filter: brightness(3), saturate(3);
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    filter: brightness(1), saturate(1);
    transform: scale(1,1);
  }
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 1.5s;
}

.delay-3 {
  animation-delay: 2s;
}